.Heading{
    color: #AD00FF;
    font-family: "Lakki Reddy" , serif;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.heading-nav{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

.toggle-btn2{
    margin: 0;
    width: 100px;
    height: 38px;
    border-radius: 20px;
    border: none;
}

.option{
    width: 33vw;
    height: 50px;
    border-radius: 7px;
    font-weight: 900;
    border: none;
    margin-top: 10px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.option:hover{
    box-shadow: inset 0 0 0 100px #AD00FF;
}

.highlight-options{
    margin-top: 20px;
    gap: 40px;
}

.highlight{
    width: 150px;
    height: 40px;
    border-radius: 31px;
    background: #AD00FF;
    font-size: 15px;
    border: none;
}

h2{
    font-size: 20px;
    margin-bottom: 15px;
}

h1{
    margin-bottom: 30px;
    font-size: 27px;
    text-wrap: wrap;
}